/* =============== pc =============== */
.hamburger,
header .search-icon--mo,
.section-hr,
.section-more--mo,
.popular-keyword--mo,
.mobile-overlay {
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-primary);
    z-index: 100;
    transition: transform 0.2s;
}

header.hide {
    transform: translateY(-100%);
}

.hd-inner {
    position: relative;
}

.hd-top {
    position: relative;
    border-bottom: 1px solid var(--border-secondary);
    background-color: var(--bg-primary);
    z-index: 2;
}

.hd-top__container {
    display: flex;
    align-items: center;
    padding-block: 10px;
}

header .logo img {
    height: 30px;
    max-width: none;
}

.gnb--desktop {
    margin-left: 35px;
}

.gnb--desktop ul {
    display: flex;
    gap: 10px;
}

.gnb--desktop ul li a {
    padding: 21px 9px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
}

.gnb--desktop ul li.active a,
.gnb--desktop ul li a:hover {
    color: var(--color-secondary);
}

.hd-top__layout {
    flex: 0 1 476px;
    display: flex;
    align-items: center;
    gap: 1px;
    margin-left: auto;
}

header .search {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 18px;
    height: 40px;
    padding-inline: 16px;
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    color: #828C94;
}

header .search:has(input:focus) {
    outline: 1px solid var(--color-secondary);
}

header .search:hover {
    background-color: rgb(247, 249, 250);
}

header .search input {
    padding-left: 6px;
    width: 100%;
    height: 100%;
}

header .search input:focus-visible {
    outline: none;
}

header .cart {
    padding: 6px;
}

header .cart:hover {
    color: var(--color-secondary);
}

header .util {
    display: flex;
    align-items: center;
}

header .auth {
    margin-inline: 8px;
}

header .auth ul {
    display: flex;
}

header .auth ul li:not(:first-child) {
    border-left: 1px solid var(--border-secondary);
}

header .auth ul li a {
    padding-inline: 10px;
    font-size: 14px;
}

header .write {
    position: relative;
}

header .write__toggle {
    display: flex;
    gap: 6px;
    align-items: center;
    height: 40px;
    padding-inline: 16px;
    background-color: var(--color-secondary);
    border-radius: 4px;
    color: var(--color-primary-inverse);
    font-size: 14px;
}

header .write__toggle:hover {
    background-color: #0497ef;
}

header .write__category {
    position: absolute;
    right: -60px;
    width: max-content;
    padding: 8px;
    background-color: var(--bg-primary);
    border: 1px solid rgb(218, 221, 224);
    border-radius: 6px;
    box-shadow: rgba(63, 71, 77, 0.2) 0px 4px 10px 0px;

    transform: translateY(0);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    z-index: 202;
}

header .write__category.active {
    transform: translateY(10px);
    opacity: 1;
    pointer-events: auto;
}

header .write__category ul li:hover {
    background-color: #f5f5f5;
}

header .write__category ul li a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px;
}

header .write__category ul li img {
    width: 30px;
}

header .write__category ul li strong {
    color: #141414;
}

header .write__category ul li p {
    font-size: 14px;
    color: #757575;
    line-height: 20px;
}

.hd-bottom {
    position: absolute;
    width: 100%;
    background-color: var(--bg-primary);
    border-bottom: 1px solid var(--border-secondary);
    z-index: 1;
    transition: transform 0.2s;
}

.hd-bottom.hide {
    transform: translateY(-100%);
}

.hd-bottom__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

.lnb {
    flex: 0 0 auto;
}

.lnb ul {
    display: flex;
    gap: 10px;
}

.lnb ul li.active {
    border-bottom: 3px solid var(--color-secondary);
}

.lnb ul li a {
    padding: 12px 6px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    white-space: nowrap;
}

.lnb ul li.active a {
    color: var(--color-secondary);
}

.lnb ul li a:hover {
    color: var(--color-secondary);
}

.popular-keyword--desktop {
    flex: 0 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.popular-keyword__rolling-view {
    height: 20px;
    overflow: hidden;
}

.popular-keyword--desktop .popular-keyword__btn {
    padding: 6px;
}

ol.popular-keyword__rank-list li {
    display: flex;
    gap: 5px;
}

ol.popular-keyword__rank-list li span {
    line-height: 20px;
}

ol.popular-keyword__rank-list li span.rank {
    flex: 0 0 20px;
    font-weight: 700;
    text-align: center;
}

ol.popular-keyword__rank-list li span.keyword {
    flex: 0 0 104px;
    white-space: nowrap;
}

.popular-keyword__panel {
    position: fixed;
    top: 60.3px;
    transform: translateX(24px);
    width: 285px;
    padding: 28px 8px;
    background-color: var(--bg-primary);
    border: 1px solid rgb(218, 221, 224);
    border-radius: 6px;
    box-shadow: rgba(63, 71, 77, 0.2) 0px 4px 10px 0px;
    z-index: 500;

    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

.popular-keyword__panel.active {
    opacity: 1;
    pointer-events: auto;
    transition: 0s;
}

.popular-keyword__panel .panel__header {
    padding-inline: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.popular-keyword__panel .panel__header h2 {
    font-size: 18px;
    line-height: 30px;
}

.popular-keyword__panel .panel__header .panel__btn {
    margin-left: auto;
    padding: 6px;
}

.popular-keyword__panel ol.popular-keyword__rank-list li {
    padding: 8px 16px;
}

.popular-keyword__panel ol.popular-keyword__rank-list li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

main {
    margin-top: 158px;
}

.main-banner {
    display: flex;
    gap: 20px;
}

.main-banner__img {
    flex: 847;
    min-width: 0;
    border-radius: 4px;
    overflow: hidden;
}

.main-banner__img a {
    width: 100%;
    height: 100%;
    position: relative;
}

.main-banner__img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}

.main-banner__img a:hover img {
    transform: scale(1.05);
}

.main-banner__img .main-banner__txt-box {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.main-banner__img .main-banner__txt-box h2 {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-primary-inverse);
    line-height: 42px;
}

.main-banner__img .main-banner__by {
    display: flex;
    gap: 3px;
    align-items: center;
    margin-top: 8px;
}

.main-banner__img .main-banner__by img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.main-banner__img .main-banner__by span {
    line-height: 20px;
    color: var(--color-primary-inverse);
}

.main-banner__slider {
    flex: 269;
    min-width: 0;
    border-radius: 4px;
    position: relative;
}

.main-banner__swiper {
    border-radius: 4px;
}

.main-banner__swiper .swiper-slide a {
    width: 100%;
    height: 100%;
}

.main-banner__swiper .swiper-slide a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}

.main-banner__swiper .swiper-slide a img:hover {
    transform: scale(1.05);
}

.main-banner__slider .swiper-button-next,
.main-banner__slider .swiper-button-prev {
    transition: 0.2s;
    opacity: 0;
}

.main-banner__swiper:hover ~ .swiper-button-wrap .swiper-button-next,
.main-banner__swiper:hover ~ .swiper-button-wrap .swiper-button-prev,
.main-banner__slider .swiper-button-wrap:hover .swiper-button-next, 
.main-banner__slider .swiper-button-wrap:hover .swiper-button-prev {
    opacity: 1;
}

.main-banner__slider .swiper-pagination-fraction {
    left: auto;
    right: 12px;
    bottom: 12px;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-primary-inverse);
    width: auto;
    padding: 4px 8px 4px 10px;
    background-color: rgba(33, 38, 41, 0.5);
    border-radius: 13px;
}

.local-nav ul {
    display: flex;
}

.local-nav ul li {
    min-width: 0;
    flex: 1;
}

.local-nav ul li a {
    display: block;
    text-align: center;
}

.local-nav ul li a img {
    display: inline;
    width: 100%;
    max-width: 88px;
}

.local-nav ul li a span {
    display: block;
    text-align: center;
    margin-top: 8px;
    line-height: 20px;
    word-break: normal;
}

.recommend-interior__slider {
    position: relative;
}

.recommend-interior__swiper .swiper-wrapper {
    height: auto;
}

.recommend-interior__swiper .swiper-slide {
    height: auto;
    overflow: hidden;
    border-radius: 4px;
}

.recommend-interior__swiper .swiper-slide a {
    display: block;
}

.recommend-interior__swiper .swiper-slide img {
    width: 100%;
    transition: 0.2s;
}

.recommend-interior__swiper .swiper-slide:hover a img {
    transform: scale(1.05);
}

.recommend-interior__swiper .swiper-slide .profile {
    position: absolute;
    left: 8px;
    bottom: 8px;
    display: flex;
    gap: 4px;
    align-items: center;
}

.recommend-interior__swiper .swiper-slide .profile img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
}

.recommend-interior__swiper .swiper-slide .profile span {
    font-size: 12px;
    font-weight: 700;
    color: var(--color-primary-inverse);
    line-height: 20px;
}

.recommend-interior__swiper .swiper-slide .bookmark {
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.recommend-home .homes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.recommend-home .homes li {
    position: relative;
}

.recommend-home .homes li a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.recommend-home .homes .home-thumbnail {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.recommend-home .homes .home-thumbnail img {
    width: 100%;
    transition: 0.2s;
}

.recommend-home .homes li:hover .home-thumbnail img {
    transform: scale(1.05);
}

.recommend-home .homes .home-thumbnail .bookmark {
    position: absolute;
    right: 8px;
    bottom: 8px;
    z-index: 2;
}

.recommend-home .homes p {
    margin-top: 10px;
}

.cartegory__slider {
    position: relative;
}

.cartegory__swiper .swiper-wrapper {
    height: auto;
}

.cartegory__swiper .swiper-slide {
    width: 72px;
    height: auto;
}

.cartegory__swiper .swiper-slide a {
    width: 100%;
}

.cartegory__swiper .swiper-slide a img {
    width: 100%;
}

.cartegory__swiper .swiper-slide a span {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}

.cartegory__swiper .swiper-wrapper::after {
    content: "";
    position: absolute;
    top: 0px;
    right: -1px;
    width: 100px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    pointer-events: none;
    padding: 0px;
    margin: 0px;
    z-index: 1;
}

.cartegory__slider:has(.swiper-button-next.disabled) .cartegory__swiper .swiper-wrapper::after {
    content: none;
}

.today-deal .today-deal__slider {
    position: relative;
}

.today-deal__swiper .swiper-wrapper {
    height: auto;
}

.today-deal__swiper .swiper-wrapper .swiper-slide {
    height: auto;
    position: relative;
}

.today-deal__swiper .swiper-slide article {
    width: 100%;
    height: 100%;
}

.today-deal__swiper .swiper-slide article a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.today-deal__swiper .swiper-slide .today-deal__thumbnail {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.today-deal__swiper .swiper-slide .today-deal__thumbnail img {
    width: 100%;
    transition: 0.1s;
}

.today-deal__swiper .swiper-slide:hover .today-deal__thumbnail img {
    transform: scale(1.05);
}

.today-deal__swiper .swiper-slide .today-deal__countdown {
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 4px 7px;
    background-color: #f77;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    line-height: 15px;
}

.today-deal__swiper .swiper-slide .bookmark {
    position: absolute;
    bottom: 12px;
    right: 12px;
    z-index: 2;
}

.today-deal__swiper .today-deal__desc {
    margin-top: 9px;
}

.today-deal__swiper .today-deal__desc .today-deal__by {
    font-size: 11px;
    color: #757575;
}

.today-deal__swiper .today-deal__desc h3 {
    margin-top: 5px;
    font-size: 13px;
    font-weight: normal;
    line-height: 17px;
    transition: 0.1s;
}

.today-deal__swiper .swiper-slide:hover .today-deal__desc h3 {
    opacity: 0.5;
}

.today-deal__swiper .today-deal__desc .today-deal__price {
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 17px;
    line-height: 23px;
    font-weight: bold;
}

.today-deal__swiper .today-deal__price span {
    font: inherit;
    color: #0aa5ff;
}

.today-deal__swiper .today-deal__price strong {
    font: inherit;
    color: #000;
}

.today-deal__swiper .today-deal__desc .today-deal__review {
    margin-top: 5px;
    display: flex;
    gap: 2px;
}

.today-deal__swiper .today-deal__review span {
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
}

.today-deal__swiper .today-deal__review .review__score {
    color: #424242;
    display: flex;
    gap: 1px;
    align-items: center;
}

.today-deal__swiper .review__score svg {
    color: var(--color-secondary);
}

.today-deal__swiper .today-deal__review .review__cnt {
    color: #929292;
}

.today-deal__swiper .today-deal__desc > svg {
    margin-top: 6px;
}


footer {
    padding-block: 40px;
    background-color: #F7F9FA;
}

.footer__container {
    display: grid;
    grid-template-columns: 256px 256px 1fr;
    gap: 49px;
}

.footer__container > * {
    position: relative;
}

.footer__container > *:not(:first-child)::before {
    content: "";
    position: absolute;
    left: -25px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #EAEDEF;
}

.footer__cs .cs__page {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.footer__cs .cs__detail {
    margin-bottom: 12px;
}

.footer__cs .cs__detail .cs__title {
    margin-bottom: 8px;
}

.footer__cs .cs__detail {
    margin-bottom: 12px;
}

.footer__cs .cs__tel {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin-right: 2px;
}

.footer__cs .cs__time {
    font-size: 14px;
    line-height: 20px;
}

.footer__cs .cs__info {
    font-size: 12px;
    line-height: 20px;
}

.footer__cs .cs__info li::before {
    content: "•";
    display: inline-block;
    width: 20px;
    text-align: center;
}

.footer__cs .cs__messenger {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;

    font-size: 14px;
    line-height: 20px;
}

.footer__cs .cs__messenger button,
.footer__cs .cs__messenger a {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding-inline: 8px;
    height: 32px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.footer__links ul {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    column-gap: 8px;
    row-gap: 20px;
}

.footer__links li a {
    font-size: 12px;
    line-height: 16px;
}

.footer__links li:nth-child(4) a,
.footer__links li:nth-child(10) a {
    font-weight: 700;
}

.footer__company {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__company .company__info {
    display: flex;
    flex-wrap: wrap;
    column-gap: 9px;
    overflow: hidden;
}

.footer__company .company__info li {
    position: relative;
    font-size: 12px;
    color: #828C99;
    line-height: 20px;
    white-space: nowrap;
}

.footer__company .company__info li + li::before {
    content: "|";
    position: absolute;
    left: -4.5px;
    top: 0;
    transform: translateX(-50%);
}

.footer__company .company__info li:nth-child(5) a {
    font-weight: 700;
}

.footer__company p {
    font-size: 10px;
    color: #828C99;
    line-height: 14px;
}

.footer__company .company__sns {
    display: flex;
    gap: 12px;
}

.footer__company .company__sns svg {
    color: #828C99;
}

.footer__company .company__sns svg:hover {
    color: #656e75;
}

/* =============== tb =============== */
@media (max-width: 1024px) {
    header .search, 
    header .write__toggle svg {
        display: none;
    }

    header .search-icon--mo {
        display: block;
    }

    .hd-top__layout {
        justify-content: flex-end;
    }

    header .search-icon--mo {
        cursor: pointer;
        padding: 6px;
    }

    header .search-icon--mo:hover {
        color: var(--color-secondary);
    }

    header .write__category {
        right: -40px;
    }

    .main-banner__img .main-banner__txt-box h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .main-banner__img .main-banner__by img {
        width: 24px;
        height: 24px;
    }

    .main-banner__img .main-banner__by span {
        font-size: 14px;
    }

    .local-nav ul li a img {
        max-width: 78px;
    }
    
    .local-nav ul li a span {
        font-size: 12px;
        line-height: 16px;
    }

    .recommend-home .homes .home-thumbnail img {
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__company {
        grid-column: span 2;
    }

    .footer__container .footer__company::before {
        top: -25px;
        left: 0;
        width: 100%;
        height: 1px;
    }
}

/* =============== mo =============== */
@media (max-width: 768px) {
    .gnb--desktop,
    header .util,
    .popular-keyword--desktop,
    .popular-keyword__panel,
    .main-banner__img,
    .swiper-button-wrap,
    .section-more--desktop,
    .cartegory__swiper .swiper-wrapper::after {
        display: none;
    }

    .hamburger,
    .section-hr,
    .section-more--mo,
    .popular-keyword--mo,
    .mobile-overlay {
        display: block;
    }

    .hd-top__container {
        padding-block: 7px;
        position: relative;
    }

    .hd-top__container.container-inline {
        padding-inline: 10px;
    }

    .hamburger {
        padding: 6px;
    }

    header .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    header .logo img {
        height: 26px;
    }

    .hd-top__layout {
        flex: 0 1 auto;
    }

    .hd-bottom {
        overflow: auto;
    }

    .hd-bottom__container {
        width: max-content;
    }

    .lnb ul {
        gap: 4px;
    }

    .lnb ul li a {
        font-size: 14px;
        line-height: 18px;
        padding: 11px 5px;
    }

    main {
        margin-top: 114px;
    }

    .local-nav ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .section-hr {
        height: 12px;
        background-color: #f7f9fa;
        border: none;
    }

    .recommend-home .homes {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .today-deal__swiper .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }

    .today-deal__swiper .swiper-wrapper .swiper-slide {
        width: auto !important;
    }

    .today-deal__swiper .swiper-wrapper .swiper-slide:nth-child(n+5) {
        display: none;
    }

    .today-deal__swiper .swiper-wrapper .swiper-slide:not(:first-child)::before {
        content: "";
        position: absolute;
        top: -15.5px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #EAEDEF;
    }

    .today-deal__swiper .swiper-slide article {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    .today-deal__swiper .swiper-slide .today-deal__thumbnail {
        flex: 0 0 48%;
    }

    .today-deal__swiper .swiper-slide:hover .today-deal__thumbnail img {
        transform: none;
    }

    .today-deal__swiper .swiper-slide .today-deal__countDown {
        top: 8px;
        left: 8px;
        padding: 4px;
        font-size: 11px;
        line-height: 12px;
    }

    .today-deal__swiper .swiper-slide:hover .today-deal__desc h3 {
        opacity: 1;
    }

    .today-deal__swiper .today-deal__desc .today-deal__price {
        font-size: 20px;
    }

    .popular-keyword--mo ol.popular-keyword__rank-list {
        margin-inline: -12px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .popular-keyword--mo ol.popular-keyword__rank-list li {
        padding: 8px 12px;
    }

    footer {
        padding-block: 30px;
    }

    .footer__container {
        grid-template-columns: 1fr;
    }

    .footer__links ul {
        display: flex;
        flex-wrap: wrap;
    }

    .footer__company {
        grid-column: auto;
    }

    .footer__container > *:not(:first-child)::before {
        top: -25px;
        left: 0;
        width: 100%;
        height: 1px;
    }

    .dim {
        position: fixed;
        inset: 0;
        background-color: #21262980;
        z-index: 999;
        opacity: 0;
        pointer-events: none;

        transition: opacity 0.3s;
    }

    .dim.active {
        opacity: 1;
        pointer-events: auto;
    }

    .mobile-panel {
        position: fixed;
        top: 0;
        transform: translateX(-100%);
        width: 270px;
        height: 100%;
        padding: 26px 16px;
        overflow-y: auto;
        background-color: #fff;
        z-index: 1000;

        transition: transform 0.3s;
    }

    .mobile-panel.active {
        transform: translateX(0);
    }
    
    .mobile-panel__group {
        padding-block: 20px;
        border-bottom: 1px solid #EAEDEF;
    }

    .mobile-panel__group:first-of-type {
        padding-top: 0;
    }

    .mobile-panel__group:last-of-type {
        padding-bottom: 0;
        border-bottom: none;
    }

    .mobile-panel__layout {
        display: flex;
        align-items: center;
    }

    .mobile-panel__logo img {
        height: 26px;
    }

    .mobile-panel__app-down {
        display: flex;
        gap: 4px;
        margin-left: auto;

        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        color: var(--color-secondary);
    }

    .mobile-panel__auth {
        margin-top: 20px;
        display: flex;
        gap: 8px;
        justify-content: space-between;
    }

    .mobile-panel__auth a {
        height: 42px;
        border: 1px solid var(--color-secondary);
        border-radius: 4px;
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
    }

    .mobile-panel__login {
        color: var(--color-secondary);
        background-color: var(--color-primary-inverse);
    }

    .mobile-panel__signup {
        color: var(--color-primary-inverse);
        background-color: var(--color-secondary);
    }

    .gnb--mo .gnb__list .gnb__item {
        margin-top: 4px;
    }

    .gnb--mo .gnb__list .gnb__toggle {
        padding-inline: 14px;
        display: flex;
        width: 100%;
    }
    
    .gnb--mo .gnb__list .gnb__title {
        display: flex;
        gap: 8px;
        align-items: center;

        height: 40px;
        font-weight: bold;
    }

    .gnb--mo .gnb__list .gnb__svg {
        position: relative;
        margin-left: auto;
    }

    .gnb--mo .gnb__svg svg {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .gnb--mo .gnb__item .gnb__sub {
        overflow: hidden;
    }

    .gnb--mo .gnb__sub > li {
        margin-top: 4px;
        font-size: 14px;
    }

    .gnb--mo .gnb__sub > li a {
        height: 40px;
        padding-left: 42px;
        display: flex;
        align-items: center;
    }

    .gnb--mo .gnb__sub > li a.active {
        font-weight: bold;
    }

    .mobile-panel .secondary-menu ul > li {
        margin-top: 4px;
    }

    .mobile-panel .secondary-menu ul > li a {
        height: 40px;
        padding-inline: 14px;
        font-size: 14px;
        display: flex;
        align-items: center;
    }

    .mobile-panel .application-menu {
        display: flex;
    }

    .mobile-panel .application-menu > li {
        padding: 6px;
        font-size: 14px;
    }
}