#wrap {
    min-width: 280px;
    max-width: 1920px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-primary);
}

.hd-top {
    position: relative;
    border-bottom: 1px solid var(--border-secondary);
    background-color: var(--bg-primary);
    z-index: 200;
}

.hd-top .top-container {
    display: flex;
    align-items: center;
    padding-block: 10px;
}

header .logo img {
    height: 30px;
}

#gnb {
    margin-left: 35px;
}

#gnb ul {
    display: flex;
    gap: 10px;
}

#gnb ul li a {
    padding: 21px 9px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
}

#gnb ul li.active a,
#gnb ul li a:hover {
    color: var(--color-secondary);
}

header .layout {
    flex: 0 1 590px;
    display: flex;
    align-items: center;
    gap: 1px;
    margin-left: auto;
}

header .search-wrap {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 18px;
    height: 40px;
    padding-inline: 16px;
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    color: #828C94;
}

header .search-wrap:has(input:focus) {
    outline: 1px solid var(--color-secondary);
}

header .search-wrap:hover {
    background-color: rgb(247, 249, 250);
}

header .search-wrap input {
    padding-left: 6px;
    width: 100%;
    height: 100%;
}

header .search-wrap input:focus-visible {
    outline: none;
}

header .cart {
    padding: 6px;
}

header .cart:hover {
    color: var(--color-secondary);
}

header .util-wrap {
    display: flex;
    align-items: center;
}

header .util-wrap .util {
    margin-inline: 8px;
}

header .util ul {
    display: flex;
}

header .util ul li:not(:first-child) {
    border-left: 1px solid var(--border-secondary);
}

header .util ul li a {
    padding-inline: 10px;
    font-size: 14px;
}

header .write {
    position: relative;
}

header .write-btn {
    display: flex;
    gap: 6px;
    align-items: center;
    height: 40px;
    padding-inline: 16px;
    background-color: var(--color-secondary);
    border-radius: 4px;
    color: var(--color-primary-inverse);
}

header .write-btn:hover {
    background-color: #0497ef;
}

header .write-category {
    position: absolute;
    right: -60px;
    width: max-content;
    padding: 8px;
    background-color: var(--bg-primary);
    border: 1px solid rgb(218, 221, 224);
    border-radius: 6px;
    box-shadow: rgba(63, 71, 77, 0.2) 0px 4px 10px 0px;

    transform: translateY(0);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    z-index: 202;
}

header .write-category.active {
    transform: translateY(10px);
    opacity: 1;
    pointer-events: auto;
}

header .write-category ul li:hover {
    background-color: #f5f5f5;
}

header .write-category ul li a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px;
}

header .write-category ul li img {
    width: 30px;
}

header .write-category ul li strong {
    color: #141414;
}

header .write-category ul li p {
    font-size: 14px;
    color: #8c8c8c;
    line-height: 20px;
}


.hd-bottom {
    position: absolute;
    width: 100%;
    background-color: var(--bg-primary);
    border-bottom: 1px solid var(--border-secondary);
    z-index: 199;
    transition: 0.2s;
}

.hd-bottom.hide {
    transform: translateY(-100%);
}

.bottom-container {
    display: flex;
    align-items: center;
}

#lnb {
    margin-right: auto;
}

#lnb ul {
    display: flex;
    gap: 10px;
}


#lnb ul li.active {
    border-bottom: 3px solid var(--color-secondary);
}

#lnb ul li a {
    padding: 12px 6px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

#lnb ul li.active a {
    color: var(--color-secondary);
}

#lnb ul li a:hover {
    color: var(--color-secondary);
}

.popular-keyword {
    position: relative;
    display: flex;
    align-items: center;
}

.popular-keyword .keyword-rolling-view {
    height: 20px;
    overflow: hidden;
}

.popular-keyword ol.keyword-rank-list li {
    display: flex;
    gap: 5px;
}

.popular-keyword ol.keyword-rank-list li span {
    line-height: 20px;
}

.popular-keyword ol.keyword-rank-list li span.rank {
    width: 20px;
    font-weight: 700;
    text-align: center;
}

.popular-keyword ol.keyword-rank-list li span.keyword {
    width: 104px;
    white-space: nowrap;
}

.popular-keyword .whole-view-btn {
    padding: 6px;
    z-index: 201;
}

.popular-keyword .keyword-whole-view {
    position: absolute;
    top: -28px;
    right: -24px;
    width: 285px;
    padding: 28px 8px;
    background-color: var(--bg-primary);
    border: 1px solid rgb(218, 221, 224);
    border-radius: 6px;
    box-shadow: rgba(63, 71, 77, 0.2) 0px 4px 10px 0px;

    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

.popular-keyword .keyword-whole-view.active {
    opacity: 1;
    pointer-events: auto;
    transition: 0s;
}

.keyword-whole-view h2 {
    padding-inline: 16px;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 30px;
}

.keyword-whole-view ol.keyword-rank-list li {
    padding: 8px 16px;
}

.keyword-whole-view ol.keyword-rank-list li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

main {
    margin-top: 158px;
}

.main-banner-wrap {
    display: flex;
    gap: 20px;
}

.main-banner-img {
    flex: 847;
    min-width: 0;
    border-radius: 4px;
    overflow: hidden;
}

.main-banner-img a {
    position: relative;
}

.main-banner-img a img {
    transition: 0.2s;
}

.main-banner-img a img:hover {
    transform: scale(1.05);
}

.main-banner-img .txt-box {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.main-banner-img .txt-box h2 {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-primary-inverse);
    line-height: 42px;
}

.main-banner-img .by {
    display: flex;
    gap: 3px;
    align-items: center;
    margin-top: 8px;
}

.main-banner-img .by img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.main-banner-img .by span {
    line-height: 20px;
    color: var(--color-primary-inverse);
}

.main-banner-slide {
    flex: 269;
    min-width: 0;
    border-radius: 4px;
    position: relative;
}

.main-banner-swiper {
    border-radius: 4px;
}

.main-banner-swiper .swiper-wrapper {

}

.main-banner-swiper .swiper-slide {
    
}

.main-banner-swiper .swiper-slide a {
    
}

.main-banner-swiper .swiper-slide a img {
    transition: 0.2s;
}

.main-banner-swiper .swiper-slide a img:hover {
    transform: scale(1.05);
}

.main-banner-slide .swiper-button-wrap {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.main-banner-slide .swiper-button-next {
    right: 0;
    transform: translate(50%,-50%);
}

.main-banner-slide .swiper-button-prev {
    left: 0;
    transform: translate(-50%,-50%);
}

.main-banner-slide .swiper-button-next,
.main-banner-slide .swiper-button-prev {
    width: 48px;
    height: 48px;
    color: #000;
    background-color: var(--bg-primary);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(63, 71, 77, 0.15);

    transition: 0.2s;
    opacity: 0;
}

.main-banner-slide .swiper-button-wrap {
    pointer-events: none;
}

.main-banner-slide .swiper-button-next {
    pointer-events: auto;
}

.main-banner-slide .swiper-button-prev {
    pointer-events: auto;
}

.main-banner-swiper:hover ~ .swiper-button-wrap .swiper-button-next,
.main-banner-swiper:hover ~ .swiper-button-wrap .swiper-button-prev,
.main-banner-slide .swiper-button-wrap:hover .swiper-button-next, 
.main-banner-slide .swiper-button-wrap:hover .swiper-button-prev {
    opacity: 1;
}

.main-banner-slide .swiper-button-next svg,
.main-banner-slide .swiper-button-prev svg {
    width: 10px;
    height: 20px;
}

.main-banner-slide .swiper-pagination-fraction {
    left: auto;
    right: 12px;
    bottom: 12px;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-primary-inverse);
    width: auto;
    padding: 4px 8px 4px 10px;
    background-color: rgba(33, 38, 41, 0.5);
    border-radius: 13px;
}